{% extends "drinks/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Добавление напитка через обычную форму</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}:
                </label>
                <br>

                {{ field }}

                {% if field.errors %}
                    <span class="form-error">
                        {{ field.errors }}
                    </span>
                {% endif %}
            </p>
        {% endfor %}

        <button type="submit">Добавить</button>
    </form>
{% endblock %}