{% extends "drinks/base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h2>{{ title }}</h2>

    <p>
        <strong>drink_id =</strong>
        {{ drink_id }}
    </p>

    {% if drink %}

        <h3>{{ drink.name }}</h3>
            {% if drink.photo %}
                <img
                    src="{{ drink.photo.url }}"
                    alt="{{ drink.name }}"
                    class="drink-detail-image"
                >
            {% endif %}

        <p>
            <strong>Тип:</strong>
            {{ drink.type }}
        </p>

        <p>
            <strong>Бренд:</strong>
            {{ drink.brand }}
        </p>

        <p>{{ drink.description }}</p>

    {% else %}

        <p>
            Напиток с таким идентификатором
            отсутствует в демонстрационном списке.
        </p>

    {% endif %}

{% endblock %}