{% extends "drinks/base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h2>{{ drink.name }}</h2>
        {% if drink.photo %}
            <img
                src="{{ drink.photo.url }}"
                alt="{{ drink.name }}"
                class="drink-detail-image"
            >
        {% endif %}

    <p>
        <strong>ID:</strong>
        {{ drink.id }}
    </p>

    <p>
        <strong>Slug:</strong>
        {{ drink.slug }}
    </p>

    <p>
        <strong>Категория:</strong>

        {% if drink.category %}
            <a href="{{ drink.category.get_absolute_url }}">
                {{ drink.category.name }}
            </a>
        {% else %}
            не указана
        {% endif %}
    </p>

    <p>
        <strong>Тип:</strong>
        {{ drink.type }}
    </p>

    <p>
        <strong>Бренд:</strong>
        {{ drink.brand }}
    </p>

    <p>
        <strong>Теги:</strong>

        {% for tag in drink.tags.all %}
            <a href="{{ tag.get_absolute_url }}">
                {{ tag.name }}
            </a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            нет тегов
        {% endfor %}
    </p>

    {% if drink.meta %}

        <p>
            <strong>Объём:</strong>
            {{ drink.meta.volume_ml }} мл
        </p>

        <p>
            <strong>Упаковка:</strong>
            {{ drink.meta.package }}
        </p>

        {% if drink.meta.country %}
            <p>
                <strong>Страна:</strong>
                {{ drink.meta.country }}
            </p>
        {% endif %}

    {% endif %}

    <p>
        <strong>Статус:</strong>
        {{ drink.get_available_display }}
    </p>

    <p>

    {% if perms.drinks.change_drink %}

        <a
            href="{% url 'edit_drink' drink.slug %}"
            class="button"
        >
            Редактировать
        </a>

    {% endif %}


    {% if perms.drinks.delete_drink %}

        <a
            href="{% url 'delete_drink' drink.slug %}"
            class="button"
        >
            Удалить
        </a>

    {% endif %}

</p>

{% endblock %}