{% extends "drinks/base.html" %}

{% block title %}
    Новый пароль
{% endblock %}

{% block content %}

<h2>Введите новый пароль</h2>

{% if validlink %}

    <form
        method="post"
        class="user-form"
    >

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Сменить пароль
        </button>

    </form>

{% else %}

    <p>
        Ссылка недействительна
        или уже была использована.
        Запросите восстановление
        пароля ещё раз.
    </p>

{% endif %}

{% endblock %}