{% extends "drinks/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<h2>{{ title }}</h2>

<form method="post" class="user-form">

    {% csrf_token %}

    <div class="form-error">
        {{ form.non_field_errors }}
    </div>

    {% for field in form %}

        <p>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}:
            </label>

            <br>

            {{ field }}

            {% if field.help_text %}
                <small class="help-text">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}

            {% if field.errors %}
                <span class="form-error">
                    {{ field.errors }}
                </span>
            {% endif %}
        </p>

    {% endfor %}

    <button type="submit">
        Зарегистрироваться
    </button>

</form>

<p>
    Уже есть аккаунт?
    <a href="{% url 'users:login' %}">
        Войти
    </a>
</p>

{% endblock %}